        body {
            scroll-behavior: smooth;
            margin: 0;
        }

        .card-costum {
            background-color: #1565C0 !important;
            border-radius: 10px;
        }

        .navbar-custom {
            width: 300px;
            background-color: #1565C0 !important;
            border-radius: 40px;
            margin: 20px auto;
            justify-content: center;
        }

        .modal-profil {
            color: black;
            border: 1px solid silver;
            padding: 20px;
            margin-top: 20px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            gap: 20px;
        }

        #subtittle {
            color: gray;
        }

        .navbar-nav {
            margin: 0 auto;
        }

        .nav-link {
            color: white !important;
            font-weight: 600;
            text-align: center;
        }

        .nav-link:hover {
            color: #BBDEFB !important;
        }

        .navbar-toggler {
            border-color: white;
        }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }

        .hover-zoom {
            border: none;
            font-size: 16px;
            border-radius: 30px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .hover-zoom:hover {
            transform: scale(1.05);
        }

        .container-footer {
            margin-top: 50px;
            background-color: #1565C0;
            width: 100%;
            display: flex;
            justify-content: center;
            height: 50px;
            padding: 15px;
        }

        .container-footer p {
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 13px;
        }

        .fade-card {
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.8s ease-out;
        }

        .fade-card.show {
            opacity: 1;
            transform: translateY(0);

        }
