body {
    scroll-behavior: smooth;
    margin: 0;
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
}

.card-costum {
    background-color: #1565C0 !important;
    border-radius: 5px;
    border: none;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.card {
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.icon-medsos {
    background-color: #1565C0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.modal-profil {
    color: black;
    border: 1px solid silver !important;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.subtittle {
    color: gray;
}

.hover-zoom {
    border: none;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hover-zoom:hover {
    transform: scale(1.05);
}

.main-box {
    background: #1565C0;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    display: flex !important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}